<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Estoque - Filtros de Ar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
<!-- dashboard-->
<div class="container">
<div class="navbar">
    <a href="/home">
        <button> HOME </button></a>
    <a href="/add_item">
        <button> ADICIONAR ITENS </button></a>
    <a href="/estoque">
        <button> ESTOQUE </button></a>
    <a href="/ret_item">
        <button> RETIRADA </button></a>
    <a href="/"><button> FECHAR </button></a>
</div>
    </div>
    <h1>    
        Estoque<br>Autopeças
    </h1>
       <table id="tabela" border="1">
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Qtd</th>
            <th>Preço</th>
            <th>Status</th>
        </tr>

        <tr>
            <td>XX001</td>
            <td>Vela de ignição</td>
            <td>100</td>
            <td>R$300</td>
            <td class="status-ok">Baixo</td>
        </tr>

        <tr>
            <td>XX002</td>
            <td>Virabrequim</td>
            <td>180K</td>
            <td>R$2K</td>
            <td class="status-baixo">Disponível</td>
        </tr>
        <tr>
            <td>XX003</td>
            <td>Pistão</td>
            <td>600K</td>
            <td>R$1.3K</td>
            <td class="status-ok">Disponível</td>
        </tr>

        <tr>
            <td>XX004</td>
            <td>Amortecedor</td>
            <td>180K</td>
            <td>R$750</td>
            <td class="status-baixo">Baixo</td>
        </tr>
        <tr>
            <td>XX005</td>
            <td>Embreagem</td>
            <td>10K</td>
            <td>R$1.250</td>
            <td class="status-ok">Baixo</td>
        </tr>

        <tr>
            <td>XX006</td>
            <td>Pastilha de freio</td>
            <td>100K</td>
            <td>R$550</td>
            <td class="status-baixo">Disponível</td>
        </tr>
        </tr>
    </table>
</body>
</html>