<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <h1 id="titulo">E esse é o nosso Almoxarifado</h1>
    <br><br>
    

</div>

<div class="container">
<div class="navbar">

    <a href="/home">
        <button> HOME </button></a>
    <a href="/add_item">
        <button> ADICIONAR ITENS </button></a>
    <a href="/estoque">
        <button> ESTOQUE </button></a>
    <a href="/ret_item">
        <button> RETIRADA </button></a>
    <a href="/"><button> FECHAR </button></a>
</div>
    </div>
    <br><br>

        <div class="rogerimg">
    <img src="/static/roger.jpeg">
    
</body>
</html>