<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/static/home.css">
</head>
<body>
    <h1 id="titulo">E esse é o nosso Almoxarifado</h1>
    <br><br>
    
    <div class="rogerimg">
    <img src="css/static/roger.jpeg">
</div>

<div class="container">
        <div class="navbar">

            <a href="Home.html">
            <button> HOME </button>
            </a>

            <a href="add_item.html">
            <button> ADICIONAR ITENS</button>
            </a>

            <a href="estoque.html">
                <button> ESTOQUE </button>
            </a>

            <a href="ret_item.html">
                <button> RETIRADA </button>
            </a>

            <a href="Login_page.html">
                <button> FECHAR </button>
            </a>
        </div>
    </div>
    
</body>
</html>