<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Login</title>
    <script src="script.js"defer></script>
    <link rel="stylesheet" href="css/static/login.css">
    
</head>
<body>
<div class="login-box">

    <h1>
        SISTEMA <br>DE<br>ALMOXARIFADO
    </h1>

    <div class="input-group">
        <label>Usuário:</label>
        <input type="text" id="usuario">
    </div>

    <div class="input-group">
        <label>Senha:</label>
        <input type="password" id="senha">
    </div>

    <button onclick="verificarLogin()">ENTRAR</button>

</div>
</body>
</html>