<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>

    
</head>
<body>
<div class="login-box"> <!--Cria uma caixa de login, usada para organizar os elementos.-->

    <h1>
        SISTEMA <br>DE<br>ALMOXARIFADO 
    </h1>

    <div class="input-group"> <!--organizar o formulário.-->
        <label>Usuário:</label>
        <input type="text" id="usuario">
    </div>

    <div class="input-group">
        <label>Senha:</label>
        <input type="password" id="senha">
    </div>

    <button onclick="verificarLogin()">ENTRAR</button> <!--Botão que executa a função verificarLogin() quando clicado. + JavaScript-->

</div>
</body>
</html>